<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avian" version="1.0.3-preview" targetFramework="net472" />
  <package id="Avian.Event" version="1.0.3-preview" targetFramework="net472" />
  <package id="CitizenFX.Core.Server" version="1.0.26803" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="YamlDotNet" version="18.1.0" targetFramework="net472" />
  <package id="pyro.Avian" version="1.0.1-preview" targetFramework="net472" />
</packages>